
* {
    --quiz-editor-padding: 1rem;
}

.popup-background {
    /* Position the overlay */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* Set the background color and opacity */
    background-color: rgba(0, 0, 0, 0.5);
    /* Ensure the overlay is behind .popup-content */
    z-index: 98;
}

.popup-content {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: 0.5fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
    "quizInps questionInps"
    "questions options";
    
    position: relative;
    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
    width: 90rem;
    height: 50rem;
    
    padding: 0px;
    border-radius: var(--primary-border-radius);
    background-color: var(--light-color);
}

.quizInps {
    display: grid;
    grid-area: quizInps;
    background-color: red;
    grid-template-columns: 1.5fr 0.2fr;
    grid-template-rows: 0.2fr 1.5fr;
    gap: 0px 0px;
    grid-template-areas:
        "toolbar groups"
        "inps groups";
}


.toolbar {
    min-height: 100%;
    grid-area: toolbar;
    background-color: blue;
    display: flex;
    flex-direction: row;
    padding: var(--quiz-editor-padding);

}
.toolbar>input {
    width:1rem;
}

.inps {
    grid-area: inps;
    min-height: 100%;
    background-color: green;
    display: flex;
    flex-direction: column;
    padding: var(--quiz-editor-padding);
}
.inps>input {
    width: 4rem;
}

.groups {
    grid-area: groups;
    background-color: orange;
    padding-top: var(--quiz-editor-padding);
    overflow: hidden;
    display: flex;
    flex-direction: column;

}
.group-repres-col {
    height: 20rem; /* must add a specified height so it becomes scrollable when it grows outside the parent element */
    flex-grow: 1;
    overflow-y: auto;
}
.groups>input {
    width: 100%;
}
.groupRepres {
    width: 1.5rem;
    height: 1.5rem;
}

.questions {
    background-color: aqua;
    grid-area: questions;
    padding: 20px;

    overflow: hidden;
    display: flex;
    flex-direction: column;
}
ul {
    flex-grow: 1;
    /* Let the ul grow to fill available space */
    overflow-y: auto;
}

.questionInps {
    background-color: rgb(194, 56, 139);
    grid-area: questionInps;
}

.options {
    background-color: rgb(170, 215, 255);
    grid-area: options;
}



li {
    border-radius: var(--primary-border-radius);
}

.button-container {
    /* display: flex; */
    /* justify-content: space-between; */
    background-color: wheat;
    /* bottom: -5rem; */
    /* margin: 1rem; */
}

button {
    width: 5.5rem;
    height: 3rem;
    border-radius: var(--primary-border-radius);
    margin: 0.25rem;
}

.button-container>button {
    background-color: var(--secondary-color);
}

.button-container>button:hover {
    background-color: var(--secondary-color-highlight);
}

.optionDiv {
    display: flex;
    align-items: center;
}

textarea {
    width: 45rem;
    height: 10rem;
    border-radius: var(--primary-border-radius);
    padding: 1rem;
}

.no {
    display: inline-block;
    width: 30px;
    margin-left: 0.5rem;
    opacity: 0.25;
}

#questions-list {
    padding-top: 1.5rem;
}

.question {
    
}

.selectedQuizQuestion {
    background-color: var(--light-color);
    animation: pulse 2s infinite;
}


@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0px rgba(172, 39, 249, 0.2);
    }

    100% {
        box-shadow: 0 0 0 0.5rem rgba(0, 0, 0, 0);
    }
}
