<div class="popup-background">
    <div class="popup-content">
        <div class="quiz-container">
            <div id="questionsEditor" class="editor-section">
                <label for="quizTitle">quiz title:</label>
                <input #quizTitleInp type="text" placeholder="quiz title" [value]="quiz?.title" />
                <br>
                <label for="timeLimit">time limit (s):</label>
                <input #timeLimitInp type="text" placeholder="time limit (s)" [value]="quiz?.timeLimit" />
                <br>
                <label for="isOrderedQuiz">ordered questions:</label>
                <input #isOrderedQuizInp type="checkbox" id="isOrderedQuizInp" name="isOrderedQuiz"
                    [checked]="quiz?.isOrdered" />
                <br>
                <button (click)="addQuizQuestionSkeleton()">add question</button>
                <div class="master">
                    <ul id="questions-list" class="slave">
                        @for (quizQuestion of questions;track $index)
                        {
                        <li (dblclick)="selectQuizQuestion($index)" id="{{$index}}" class="slave">
                            <span>{{$index + 1}}.</span>
                            {{trimmedQuestionName(quizQuestion.questionText)}}
                        </li>
                        }
                    </ul>
                </div>
            </div><!-- questions editor -->

            @if (selectedQuizQuestionInd !==-1)
            {
            <div id="optionsEditor" class="editor-section">
                <label for="questionText">question text:</label>
                <textarea placeholder="enter question text..."
                    [(ngModel)]="questions[selectedQuizQuestionInd].questionText" (blur)="updateQuesionText($event)"
                    (focus)="removeInputContent($event, '<< question >>')"></textarea>
                <br>
                <label for="isOrderedOptions">ordered options:</label>
                <input type="checkbox" id="isOrderedOptionsInp" name="isOrderedOptions"
                    [checked]="questions[selectedQuizQuestionInd]?.isOrdered ?? false" />
                <br>
                <button (click)="addOption(selectedQuizQuestionInd)">add option</button>
                <ul>
                    @for (option of questions[selectedQuizQuestionInd]?.options; track $index)
                    {
                    <li class="optionDiv">
                        <input type="checkbox"
                            [checked]="questions[selectedQuizQuestionInd].answerIndecies.includes($index)"
                            (change)="updateAnswer($index)" />
                        <input type="text" class="optionInput" [value]="option" placeholder="enter option text..."
                            (blur)="updateOptionText($event, $index)"
                            (focus)="removeInputContent($event, '<< option >>')" />
                    </li>
                    }
                </ul>
            </div><!-- options editor -->
            }

            <div class="button-container">
                <button id="saveAndCloseEditorBtn" (click)="saveAndCloseQuizEditor()">save</button>
                <button id="closeEditorBtn" (click)="closeQuizEditor()">cancel</button>
            </div>
        </div> <!-- quiz container -->
    </div> <!-- popup content -->
</div> <!-- popup background -->