span {
    margin-left: 0.5rem;
    opacity: 0.25;
}

.popup-background {
    /* Position the overlay */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    /* Set the background color and opacity */
    background-color: rgba(0, 0, 0, 0.5);

    /* Ensure the overlay is behind .popup-content */
    z-index: 98;
}

.popup-content {
    display: grid;
    grid-template-areas:
        "questions options"
        "buttons   buttons"
    ;

    grid-template-columns:
        20% 80%
    ;
    grid-template-rows: 
        90%
        10%
    ;

    position: relative;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90rem;
    height: 50rem;
    background-color: var(--light-color);
    border-radius: var(--primary-border-radius);
    padding: 0px;
    z-index: 99;
}

#questionsEditor {
    grid-area: questions;
    padding: 20px;
    
    overflow: hidden; /* Hide any content that overflows the container */
    display: flex; /* Use flexbox */
    flex-direction: column;
}

#optionsEditor {
    grid-area: options;
    padding: 20px;
    background-color: rgb(205, 54, 54);
}

ul {
    flex-grow: 1; /* Let the ul grow to fill available space */
    overflow-y: auto;
}

.button-container {
    grid-area: buttons;
    /* display: flex; */
    /* justify-content: space-between; */
    background-color: wheat;
    /* bottom: -5rem; */
    /* margin: 1rem; */
}

button {
    width: 5.5rem;
    height: 3rem;
    border-radius: var(--primary-border-radius);
    margin: 0.25rem;
}

.button-container>button {
    background-color: var(--secondary-color);
}

.button-container>button:hover {
    background-color: var(--secondary-color-highlight);
}

#questionsEditor>button {
    background-color: var(--light-color);
}

#questionsEditor>button:hover {
    background-color: var(--light-color-highlight);
}

.optionDiv {
    display: flex;
    align-items: center;
}


textarea {
    width: 45rem;
    height: 10rem;
    border-radius: var(--primary-border-radius);
    padding: 1rem;
}

.no {
    display: inline-block;
    width: 30px;
}

.selectedQuizQuestion {
    background-color: var(--light-color-highlight);
    filter: brightness(1.5)
}

/* todo specific styles */
.editor-section>input {
    width: 3rem;
}

.groupRepres {
    width: 1.5rem;
    height: 1.5rem;
}