<li class="category-column default-quiz-column">
    <div class="column-header">
        <h4>{{category}}</h4>
    </div>
    <div class="addquiz-button-container">
        <button class="button" id="addquiz-button" (click)=addEmptyQuizCarouselHandler()>+</button>
    </div>

    <ul class="quiz-list" id={{category}} cdkDropList [cdkDropListData]="this.quizzesInThisCategoryColumnCsig()" (cdkDropListDropped)="dropHandler($event,category)">
        @for (quiz of this.quizzesInThisCategoryColumnCsig(); track quiz)
        {
            <div [@scale] cdkDrag [cdkDragData]=quiz>
                <app-quiz-carousel [quizTitle]=quiz.title />
            </div>
        }
        @empty
        {
            <p>no quizzes</p>
        }
    </ul>
</li>