.category-column {
    width: fit-content;
    min-width: 13vw;
    margin: 1rem;
    padding-bottom: var(--primary-margin);
    background: var(--light-color);
    border-radius: 2rem;
    box-shadow: var(--primary-shadow);
}

.column-header {
    height: 4rem;
    border-radius: 2rem;
    padding: 0.1rem;
    box-shadow: var(--primary-shadow);
    background-color: var(--light-color) !important;
}

.default-quiz-column .column-header {
    background: var(--primary-color);
}

.quiz-list {
    min-height: 3rem;
}

.addquiz-button-container {
    text-align: center;
}

#addquiz-button {
    background-color: var(--light-color);
    margin: 0.6rem auto 0.6rem auto;
}

#addquiz-button:hover {
    background-color: var(--light-color-highlight);
}
