.quiz {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    background: var(--white-color);
    margin: 1rem;
    min-height: 4rem;
    min-width: 10vw;
    cursor: pointer;
    text-align: center;
    box-shadow: var(--primary-shadow);
    border-radius: 2rem;
}

.quiz-toolbar {
    position: absolute;
    bottom: -2rem;
    text-align: center;
    left: 100%;
    top: -10%;
}

.quiz-toolbar>div {
    width: 1.5rem;
    height: 1.5rem;
    display: inline-block;
    cursor: pointer;
    margin: 0.1rem;
    box-shadow: var(--primary-shadow);
    border-radius: 10rem;
    background-color: var(--secondary-color);
}

.quiz-toolbar>div:hover {
    background-color: var(--secondary-color-highlight);
}
