#grid-container {
    display: grid;
    grid-template-areas:
      "sidebar main";
    grid-template-columns: 14% 86%; /* 14% for the menu, 86% for the main content */
}

main {
    grid-area: main;
}

app-sidebar {
    grid-area: sidebar;
}
