#grid-container {
    display: grid;
    grid-template-areas:
      "navbar main"
      "navbar main";
    grid-template-columns: 14% 86%; /* 14% for the menu, 86% for the main content */
    grid-template-rows: 10% 90%; /* 10% for the top row, 90% for the bottom row */
}

main {
    grid-area: main;
}

app-navbar {
    grid-area: navbar;
}
