:host {
    display: block;
}

.sidebar {
    position: relative;
    min-width: 14vw;
    height: 98vh;
    background: var(--light-color);
    overflow: hidden;
    border-radius: 2rem 2rem 2rem 2rem;
    box-shadow: var(--primary-shadow);
}

.sidebar:before {
    content: "";
    position: absolute;
    bottom: -2rem;
    left: -6rem;
    height: 15rem;
    width: 35rem;
    background: var(--secondary-color);
    transform: rotate(25deg);
    box-shadow: 0 0 0.2rem 0.4rem rgba(0, 0, 0, 0.2);
}

.sidebar:after {
    content: "";
    position: absolute;
    bottom: -2rem;
    right: -10rem;
    height: 15rem;
    width: 30rem;
    background: var(--primary-color);
    transform: rotate(-25deg);
    box-shadow: 0 0 0.2rem 0.4rem rgba(0, 0, 0, 0.2);

}

.brand-header {
    color: var(--white-color);
    position: absolute;
    transform: rotate(-90deg);
    top: 6rem;
    left: -5rem;
}

.brand-header h1 {
    white-space: nowrap;
    margin-left: 1rem;
}

.nav-container {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

nav ul {
    text-align: center ;
    list-style-type: none;
    width: 100%;
}

nav li {
    padding: var(--primary-padding) 0;
    white-space: nowrap;
}

nav a {
    text-decoration: none;
    color: var(--grey-color);
    font-weight: 400;
}
nav a:hover {
    color: var(--black-color);
}
