:root {
  font-size: calc(0.5vw + 1vh);
  /* variables */
  --primary-color: hsl(119, 46%, 58%);
  --primary-color-hightlight: #73cb72;
  --secondary-color: hsl(264, 32%, 70%);
  --secondary-color-highlight: hsl(264, 32%, 74%);
  --light-color: #abd4bc;
  --light-color-highlight: #b8dbc7;
  --black-color: rgb(30, 30, 30);
  --white-color: rgb(255, 255, 255);
  --grey-color: #444;
  --primary-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.2);
  --primary-border-thickness: 0.4rem;
  --secondary-border-thickness: 0.2rem;
  --primary-padding: 0.4rem;
  --primary-margin: 0.4rem;
  --primary-border-radius: 2rem;
  --bold: 700;
  --primary-font-family: 'Lato', sans-serif;
}

* {
  font-family: var(--primary-font-family);
  user-select: none;
  font-size: 1rem;
}

h1 {
  font-size: 2rem;
  text-align: center;
}

h4 {
  text-align: center;
}

a,
a:link,
a:active,
a:visited {
  color: var(--black-color);
  text-decoration: none;
}

a:hover {
  scale: 1.1;
}

input,
textarea {
  height: 1rem;
  width: 11vw;
  margin: var(--primary-margin);
  border-radius: var(--primary-border-radius);
  padding: var(--primary-padding);
  box-shadow: var(--primary-shadow);
  border: none;
}

textarea {
  width: 40rem;
  height: 5rem;
}

input:focus,
textarea:focus {
  outline: none;
}

input::placeholder,
textarea::placeholder {
  color: var(--secondary-color);
}

input[type="checkbox"] {
  width: 1.3rem;
  height: 1.3rem;
  margin: var(--primary-margin);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

button {
  font-weight: var(--bold);
  border: none;
  box-shadow: var(--primary-shadow);
  color: var(--black-color);
  padding: var(--primary-margin);
  margin-bottom: var(--primary-margin);
  background-color: var(--primary-color);
  cursor: pointer;
}

button:hover {
  background-color: var(--primary-color-hightlight);
}

/* .parent {
  overflow: auto;
  transform: scaleX(-1);
}

.sleeve {
  transform: scaleX(-1);
}

.bold {
  font-weight: var(--bold);
} */

/* ckd */
.cdk-drag-preview .quiz{
    opacity: 0.5 !important;
    background-color: aqua !important;
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(185, 11, 11, 0.2),
        0 8px 10px 1px rgba(255, 1, 1, 0.14),
        0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drop-list-dragging div {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}