<h1>quizzes</h1>

<!--<app-quiz-editor currentlyEditedQuizTitle="currentlyEditedQuizTitle"/>-->
<!--<app-quiz-instance-editor currentlyEditedQuizTitle="currentlyEditedQuizTitle"/>-->
<!-- <app-quiz-columns-editor/> -->

<router-outlet></router-outlet>


<div class="manage-container">
    <input type="text" maxlength="12" id="categoryInp" #cinp placeholder="new category..." (keyup.enter)=addCategory(cinp.value) />
    <button id="add-category-button" class="button addcategory-button" (click)=addCategory(cinp.value)>add category</button>

    <input type="text" maxlength="12" id="searchCategoryInp" [formControl]="quizService.categorySearchControl"  placeholder="search category..."/>
    <input type="text" maxlength="12" id="searchQuizInp" [formControl]="quizService.quizSearchControl"  placeholder="search quiz..."/>
</div>

<div class="category-columns-container">
    <ul class="category-columns">
        @for (category of this.quizService.filteredCategoriesCsig();track category)
        {
            <app-category-column [category]=category.categoryName />
        }
        @empty
        {
            <p>no categories</p>
        }
    </ul>
</div>
