<h1>quizzes</h1>

<router-outlet/>

<div class="manage-container">
    <form [formGroup]="newCategoryFG"  (ngSubmit)="addCategory()">
        <input [formControlName]="newCategoryFCName" type="text" maxlength="12" (keyup.enter)=addCategory() placeholder="new category..."  autocomplete="off"/>
        <button type="submit" class="button addcategory-button" (click)=addCategory()>add category</button>
        <app-print-error [control]="newCategoryFG.get(newCategoryFCName)!"/>
    </form>

    <input type="text" maxlength="12" [formControl]="quizService.categorySearchControl" placeholder="search category..." autocomplete="off"/>
    <input type="text" maxlength="12" [formControl]="quizService.quizSearchControl" placeholder="search quiz..." autocomplete="off"/>
</div>

<div class="category-columns-container">
    <ul class="category-columns" cdkDropListGroup>
        @for (category of this.quizService.filteredCategoriesCsig(); track category;)
        {
            <div [@fade]>
                <app-category-column [category]=category.categoryName />
            </div>
        }
        @empty
        {
            <p>no categories</p>
        }
    </ul>
</div>
