<h1>quizzes</h1>

<router-outlet [@fade]></router-outlet>

<div class="manage-container">
    <form [formGroup]="newCategoryFormGroup">
        <input formControlName="newCategoryFormControl" #cinp type="text" maxlength="12" id="categoryInp"  placeholder="new category..." (keyup.enter)=addCategory(cinp.value) />

        @if(this.newCategoryFormGroup.get('newCategoryFormControl')?.invalid
            && ( newCategoryFormGroup.get('newCategoryFormControl')?.dirty || newCategoryFormGroup.get('newCategoryFormControl')?.touched ))
        {
            @for(error of newCategoryFormGroup.get('newCategoryFormControl')?.errors | keyvalue; track error)
            {
                <p>{{ getErrorMessage(error.key) }}</p>
            }
        }

    </form>
    <button id="add-category-button" class="button addcategory-button" (click)=addCategory(cinp.value)>add category</button>

    <input type="text" maxlength="12" id="searchCategoryInp" [formControl]="quizService.categorySearchControl" placeholder="search category..."/>
    <input type="text" maxlength="12" id="searchQuizInp" [formControl]="quizService.quizSearchControl" placeholder="search quiz..."/>
</div>

<div class="category-columns-container">
    <ul class="category-columns" cdkDropListGroup>
        @for (category of this.quizService.filteredCategoriesCsig(); track category;)
        {
            <div [@fade]>
                <app-category-column [category]=category.categoryName />
            </div>
        }
        @empty
        {
            <p>no categories</p>
        }
    </ul>
</div>
