.manage-container {
    display: flex;
    width: fit-content;
    height: fit-content;
    margin: 1rem auto;
    background: var(--color-primary);
    border-radius: var(--border-radius-primary);
    padding: var(--padding-primary);
    box-shadow: var(--shadow-primary);
}

.columns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.addcategory-button {
    height: 4rem;
    width: 5rem;
    border-radius: var(--border-radius-primary);
    background: var(--color-primary);
    padding: var(--padding-primary);
    box-shadow: var(--shadow-primary);
}

.addcategory-button:hover {
    background-color: var(--color-primary-hightlight);
}
