:host {
    /* to not interfere with layout */
    position: absolute;
    width: 100%;
    height: 100%;
}

.manage-container {
    display: flex;
    width: fit-content;
    height: fit-content;
    margin: 1rem auto;
    background: var(--primary-color);
    border-radius: var(--primary-border-radius);
    padding: var(--primary-padding);
    box-shadow: var(--primary-shadow);
}

.category-columns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.addcategory-button {
    height: 4rem;
    width: 5rem;
    border-radius: var(--primary-border-radius);
    background: var(--primary-color);
    padding: var(--primary-padding);
    box-shadow: var(--primary-shadow);
}

.addcategory-button:hover {
    background-color: var(--primary-color-hightlight);
}
