<div class="navbar-container navbar">
    <div class="menu-container">
        <div class="brand-header">
            <h1>&#9135;&#9135;&#9135;&#9135;&nbsp;&nbsp;recruitR</h1>
        </div>
        <div class="nav-container">
            <nav>
                <ul>
                    <li><a [routerLink]="'/managequizzes'">quizzes</a></li>
                    <li><a [routerLink]="'/managequizinstances'">quiz instances</a></li>
                    <li><a [routerLink]="'/emailtemplates'">email templates</a></li>
                    <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                    <li><a [routerLink]="'/settings'">settings</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>